<!DOCTYPE html>
<html>
  <head>
    
      <h1>Add Member Page</h1>

     
  </head>

  <body>
   
    <form action="/AddMember/Add" method="POST">
     
        Name: <input type="text" name="name"  ><br>
       
       Email: <input type="text" name="Email"  ><br>
  
       City: <input type="text" name="City"><br>

        <input type="submit" value="Save">
        <input type="submit" formaction="/AllMembers" formmethod="get" value="Cancel">

      </form> 
    
  </body>
</html>

   </body>
</html>