
<html>

    <head>
    
      <h1>Create Account Page </h1>
       
    
    </head>
    
    <body>
    
       <form action="/CreateAccount/Crete" method="POST">
          User name: <input type="text" id="Username" name="Username"><br>
          Password: <input type="text" id="Password" name="Password"><br><br>
          <input type="submit" value="Crete">
        </form> 
    
    </body>
    
    </html>