
<html>

<head>

  <h1>Login Page </h1>
   

</head>

<body>

   <form action="/Login/login" method="POST">
     
     Username: <input type="text" id="Username" name="Username"><br>
     
     Password: <input type="text" id="Password" name="Password"><br><br>

      <input type="submit" value="Login">
    </form> 

    New User ?: <a href="/CreateAccount">Crete Account</a>

</body>

</html>