<!DOCTYPE html>
<html>
  <head>
    <style>
      a:link, a:visited {
        background-color: white;
        color: black;
        border: 2px solid green;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: green;
        color: white;
      }
      </style>
      <h1>Subscriptions Page</h1>

      <a href="/AllMembers">All Members</a>
      <a href="/AddMember">Add Member</a>
  </head>
  <body>
   </body>
</html>