<!DOCTYPE html>
<html>
  <head>
    <style>
        a:link, a:visited {
          background-color: white;
          color: black;
          border: 2px solid green;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
        
        a:hover, a:active {
          background-color: green;
          color: white;
        }
        </style>
      <h1>Manage Users Page</h1>
  </head>
  <body>
    <a href="/Users">Users</a>
    <a href="/AddUser">AddUser</a>
   </body>
</html>